altgraph==0.17.5
bottle==0.13.4
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
clr_loader==0.2.10
idna==3.16
packaging==26.2
pefile==2024.8.26
proxy_tools==0.1.0
pycparser==3.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pythonnet==3.0.5
pywebview==6.2.1
pywin32-ctypes==0.2.3
requests==2.34.2
typing_extensions==4.15.0
urllib3==2.7.0
